In [1]:
'''1. Create a function that takes a list and string. The function should remove the letters in the string from the list, 
and return the list.'''
def remove_letters(l,s):
    for i in s:
        if i in l:
            l.remove(i)
    return l

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [3]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [4]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

In [5]:
'''2. A block sequence in three dimensions. We can write a formula for this one:5,12,20,29,39
Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.'''
def blocks(n):
    d=7
    s=5
    if n==1:
        return s
    else:
        for i in range(2,n+1):
            s+=d
            d+=1
    return s

In [6]:
blocks(1)

5

In [7]:
blocks(5)

39

In [8]:
blocks(2)

12

In [9]:
'''3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as
-, %, /, +, etc.'''
def my_sub(a,b):
    a,b=min(a,b),max(a,b)
    while(a!=0):
        c=(~b) & a
        b=b^a
        a=c<<1
    return b

In [10]:
my_sub(5,9)

4

In [11]:
my_sub(10,30)

20

In [12]:
my_sub(0,0)

0

In [13]:
'''4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns
the sum of dollar bills only,as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: d for dollars and p for pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000'''
import re
def add_bill(s):
    p=0    
    r=re.sub(r'd'," ",s)
    r=re.sub(r'k',"000",r)
    r=re.findall(r'\s\d+',r)
    for i in r:
        p+=int(i)
    print(p)

In [14]:
add_bill("d20,p40,p60,d50")

70

In [15]:
add_bill("p30,d20,p60,d150,p360")

170

In [16]:
add_bill("p30,d2k,p60,d200,p360")

2200

In [17]:
'''5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.'''
def flip_list(l):
    r=[]
    for i in l:
        if type(i)==list:
            r.extend(i)
        else:
            r.append([i])
    return r

In [18]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [19]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [20]:
flip_list([])

[]